Projeto2/StoreApp/Service References/BookEditorServices/BookEditor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookEditor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookEditor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginData" nillable="true" type="tns:LoginData" />
  <xs:complexType name="LoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="LogoutData">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogoutData" nillable="true" type="tns:LogoutData" />
  <xs:complexType name="RegisterData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LoginData">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterData" nillable="true" type="tns:RegisterData" />
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookData" nillable="true" type="tns:BookData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Books" nillable="true" type="tns:Books" />
  <xs:complexType name="BookData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookData" nillable="true" type="tns:BookData" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderData" nillable="true" type="tns:OrderData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
  <xs:complexType name="OrderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="book_id" type="xs:long" />
      <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_id" type="xs:long" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:long" />
      <xs:element minOccurs="0" name="state" type="xs:int" />
      <xs:element minOccurs="0" name="state_date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderData" nillable="true" type="tns:OrderData" />
  <xs:complexType name="Requests">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestData" nillable="true" type="tns:RequestData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Requests" nillable="true" type="tns:Requests" />
  <xs:complexType name="RequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="book_id" type="xs:long" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="order_id" type="xs:long" />
      <xs:element minOccurs="0" name="quantity" type="xs:long" />
      <xs:element minOccurs="0" name="state" type="xs:int" />
      <xs:element minOccurs="0" name="state_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestData" nillable="true" type="tns:RequestData" />
</xs:schema>