Projeto2/StoreApp/Service References/BookEditorServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceStore_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceWarehouse_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BookEditor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAuth_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IServiceAuth_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAuth_logout_InputMessage">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="IServiceAuth_logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAuth_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IServiceAuth_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBooks" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_addBook_InputMessage">
    <wsdl:part name="parameters" element="tns:addBook" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_addBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:addBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_updateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:updateBook" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_updateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_sellBook_InputMessage">
    <wsdl:part name="parameters" element="tns:sellBook" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_sellBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:sellBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_orderBook_InputMessage">
    <wsdl:part name="parameters" element="tns:orderBook" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_orderBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrders" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:getRequests" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_ReceivedRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceivedRequest" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_ReceivedRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceivedRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_UpdateOrders_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrders" />
  </wsdl:message>
  <wsdl:message name="IServiceWarehouse_ship_InputMessage">
    <wsdl:part name="parameters" element="tns:ship" />
  </wsdl:message>
  <wsdl:message name="IServiceWarehouse_ship_OutputMessage">
    <wsdl:part name="parameters" element="tns:shipResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAuth">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAuth/login" message="tns:IServiceAuth_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAuth/loginResponse" message="tns:IServiceAuth_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAuth/logout" message="tns:IServiceAuth_logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAuth/logoutResponse" message="tns:IServiceAuth_logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAuth/register" message="tns:IServiceAuth_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAuth/registerResponse" message="tns:IServiceAuth_register_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IServiceStore">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getBooks" message="tns:IServiceStore_getBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getBooksResponse" message="tns:IServiceStore_getBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="addBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/addBook" message="tns:IServiceStore_addBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/addBookResponse" message="tns:IServiceStore_addBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="updateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/updateBook" message="tns:IServiceStore_updateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/updateBookResponse" message="tns:IServiceStore_updateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="sellBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/sellBook" message="tns:IServiceStore_sellBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/sellBookResponse" message="tns:IServiceStore_sellBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="orderBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/orderBook" message="tns:IServiceStore_orderBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/orderBookResponse" message="tns:IServiceStore_orderBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getOrders" message="tns:IServiceStore_getOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getOrdersResponse" message="tns:IServiceStore_getOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getRequests" message="tns:IServiceStore_getRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getRequestsResponse" message="tns:IServiceStore_getRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceivedRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/ReceivedRequest" message="tns:IServiceStore_ReceivedRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/ReceivedRequestResponse" message="tns:IServiceStore_ReceivedRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateOrders">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/UpdateOrders" message="tns:IServiceStore_UpdateOrders_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IServiceWarehouse">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ship">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWarehouse/ship" message="tns:IServiceWarehouse_ship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWarehouse/shipResponse" message="tns:IServiceWarehouse_ship_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceStore" type="tns:IServiceStore">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceStore_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getBooks">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/getBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/addBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/updateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sellBook">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/sellBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderBook">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/orderBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/getOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequests">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/getRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivedRequest">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/ReceivedRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <soap12:operation soapAction="http://tempuri.org/IServiceStore/UpdateOrders" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceWarehouse" type="tns:IServiceWarehouse">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceWarehouse_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ship">
      <soap12:operation soapAction="http://tempuri.org/IServiceWarehouse/ship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IServiceStore" binding="tns:NetTcpBinding_IServiceStore">
      <soap12:address location="net.tcp://localhost:9002/BookEditorServices/store" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/BookEditorServices/store</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceWarehouse" binding="tns:NetTcpBinding_IServiceWarehouse">
      <soap12:address location="net.tcp://localhost:9002/BookEditorServices/warehouse" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/BookEditorServices/warehouse</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>